---
interface Props {
	title: string;
	description?: string;
}

const { title, description = "Polska Bez Glutenu - Miejsca przyjazne osobom na diecie bezglutenowej" } = Astro.props;

import '../styles/globals.css';
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-background font-sans antialiased">
		<main class="relative flex min-h-screen flex-col">
			<slot />
		</main>
	</body>
</html>
